.elements {
  max-width: 880px;
  min-width: 320px;
  width: 100%;
  padding-bottom: 66px;
  min-height: 50vh;
}

@media screen and (max-width: 880px) {
  .elements {
    max-width: 585px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 570px) {
  .elements {
    padding-bottom: 48px;
  }
}
