.add-button {
  align-self: center;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background-image: url("../../images/addbtn.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
}

.add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .add-button {
    width: 282px;
    background-size: 16px;
  }
}

@media screen and (max-width: 570px) {
  .add-button {
    margin: 0 auto;
  }
}
